In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("./test2.csv")

In [9]:
df.head()

   date  Cases
0     0      0
1     1      0
2     2      0
3     3      0
4     4      0

In [10]:
cases = df['Cases']

In [11]:
cases

0              0
1              0
2              0
3              0
4              0
          ...
1138    44689327
1139    44689593
1140    44689919
1141    44690298
1142    44690738
Name: Cases, Length: 1143, dtype: int64

In [12]:
cases.to_csv('cases.csv', index=False)